altgraph==0.17.1
asgiref==3.8.0
distlib==0.3.8
Django==4.2.11
django-cors-headers==4.3.1
filelock==3.13.1
future==0.18.2
gunicorn==21.2.0
macholib==0.16.3
packaging==24.0
platformdirs==4.2.0
six==1.15.0
sqlparse==0.4.4
typing_extensions==4.10.0
virtualenv==20.25.1
